---
import Page from "../layouts/Page.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import ProgrammerIcon from "../images/icon.png";
---

<Page pageTitle="Home">
  <div class="m-5 pt-lg-5 card bg-black text-center">
    <div>
      <span class="badge bg-primary">@hofaphil</span>
    </div>
    <div>
      <a class="btn bg-black" href="/">
        <Image
          class="img-fluid programmer-img"
          loading="eager"
          src={ProgrammerIcon}
          alt="programmer-emoji"
        />
      </a>
    </div>
    <h1 class="card-text text-white heading mt-5">Hi, I am Phil.</h1>
    <h2 class="text-white mb-5">I am addicted to programming.</h2>

    <div class="d-grid d-md-block">
      <Button
        text="GitHub"
        link="https://github.com/hofaphil"
        target="_blank"
        icon="github"
      />
      <Button
        text="GitLab"
        link="https://gitlab.com/hofaphil"
        target="_blank"
        icon="gitlab"
      />
      <Button
        text="LinkedIn"
        link="https://www.linkedin.com/in/hofaphil"
        target="_blank"
        icon="linkedin"
      />
      <Button
        text="Sudoku Expert"
        link="https://sudoku-expert.com"
        icon="joystick"
      />
    </div>
  </div>

  <style>
    .heading {
      font-size: 40pt;
    }

    .programmer-img {
      width: 69%;
      height: 69%;
    }
  </style>
</Page>
