<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact</title>
    <th:block th:replace="fragments/icons"/>
    <th:block th:replace="fragments/head"/>
</head>
<body class="bg-light">
<th:block th:replace="fragments/nav"/>
<div class="m-5">
    <h1>Impressum</h1>
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Philipp Hofer<br/>
        Ortlerstrasse 82<br/>
        86163 Augsburg</p>
    <h2>Kontakt</h2>
    <p>Telefon: 01719141970<br/>
        E-Mail: admin@philipphofer.de</p>
</div>
</body>
</html>