<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <th:block th:replace="fragments/head"/>
    <th:block th:replace="fragments/icons"/>
</head>
<body class="bg-black">

<div class="m-5 card bg-black text-center">
    <div>
        <span class="badge bg-primary">@hofaphil</span>
    </div>
    <div>
        <a class="btn bg-black" href="/">
            <img class="img-fluid" th:src="@{/img/icon.png}" alt="programmer-emoji" style="width: 69%; height: 69%;">
        </a>
    </div>
    <h1 class="card-text text-white heading">Hi, I am Phil.</h1>
    <h4 class="text-white mb-5">I am studying Computer Science at University of Augsburg.</h4>

    <div class="d-grid d-md-block">
        <a class="btn btn-outline-light btn-lg m-1" href="https://github.com/hofaphil" target="_blank">
            <i class="mdi mdi-github" aria-hidden="true"></i>
            GitHub
        </a>

        <a class="btn btn-outline-light btn-lg m-1 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            <i class="mdi mdi-google-controller" aria-hidden="true"></i>
            Sudoku Expert
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="https://play.google.com/store/apps/details?id=com.aol.philipphofer"
                   target="_blank">
                    <i class="mdi mdi-android" aria-hidden="true"></i>
                    Android
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="https://apps.apple.com/app/sudoku-expert/id1641677021"
                   target="_blank">
                    <i class="mdi mdi-apple" aria-hidden="true"></i>
                    Apple
                </a>
            </li>
        </ul>

        <a class="btn btn-outline-light btn-lg m-1" href="/contact">
            <i class="mdi mdi-account" aria-hidden="true"></i>
            Contact
        </a>
    </div>
</div>

</body>
</html>

<style>
    .heading {
        font-size: 69pt;
    }
</style>
