<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <th:block th:replace="fragments/head"/>
    <th:block th:replace="fragments/icons"/>
</head>
<body class="bg-light">
<th:block th:replace="fragments/nav"/>

<div class="text-center m-4">
    <div class="card border-dark p-3">
        <div class="row align-items-center">
            <div class="col-md-auto">
                <img class="img-fluid" src="img/Logo.png" alt="log">
            </div>
            <div class="col">
                <h1 class="mt-5">Sudoku Expert</h1>
                <h4 class="mt-5">Play free and unlimited Sudoku!</h4>
                <div class="mt-5 mb-2 mx-auto" style="max-width: 25rem">
                    <a href="http://play.google.com/store/apps/details?id=com.aol.philipphofer" target="_blank">
                        <img class="img-fluid" src="/img/google-play-badge.png" alt="get the app" style="width: 50%; height: 50%;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>