<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Share</title>
    <meta name="description" content="Share a Sudoku with your friends!">
    <meta property="og:title" content="Sudoku Expert" />
    <meta property="og:url" th:content="'https://philipphofer.de/share?id=' + ${id}" />
    <meta property="og:description" content="Share a Sudoku with your friends!">
    <meta property="og:image" content="https://philipphofer.de/icons/share/share.png">

    <th:block th:replace="fragments/head"/>
    <th:block th:replace="fragments/icons"/>
</head>
<body class="bg-black">

<div class="row justify-content-md-center m-4">
    <div class="col-auto">
        <a class="btn bg-black text-white" href="/">
            <h1>👨‍💻 Philipp Hofer</h1>
        </a>
    </div>
</div>

<div class="card text-center border-dark p-3 m-3" style="border-radius: 1rem">
    <div class="row align-items-center">
        <div class="col-md-auto">
            <img class="img-fluid" th:src="@{/img/Logo.png}" alt="logo">
        </div>
        <div class="col">
            <h1 class="mt-5">Sudoku Expert</h1>
            <h4 class="mt-5">Play free and unlimited Sudoku!</h4>
            <div class="mt-5 mb-2 mx-auto" style="max-width: 25rem">
                <a href="http://play.google.com/store/apps/details?id=com.aol.philipphofer" target="_blank">
                    <img class="img-fluid" th:src="@{/img/google-play-badge.png}" alt="get the app" style="width: 50%; height: 50%;">
                </a>
            </div>
            <div class="mx-auto" style="max-width: 25rem">
                <a class="btn bg-black text-white" th:href="@{'hofer.sudoku.expert://?id=' + ${id}}">
                    I already have the Sudoku app
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>