<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Share</title>
    <meta name="description" content="Share a Sudoku with your friends!">
    <meta property="og:title" content="Sudoku Expert" />
    <meta property="og:url" th:content="'https://philipphofer.de/share?id=' + ${id}" />
    <meta property="og:description" content="Share a Sudoku with your friends!">
    <meta property="og:image" content="https://philipphofer.de/icons/share/share.png">

    <th:block th:replace="fragments/head"/>
    <th:block th:replace="fragments/icons"/>
</head>
<body class="bg-secondary">
<th:block th:replace="fragments/nav"/>

<div class="text-center m-4">
    <div class="mx-auto card border-dark m-4 p-3" style="max-width: 25rem">
        <div class="text-center">
            <img class="img-fluid" th:src="@{/img/Logo.png}" alt="logo">
        </div>
        <h1 class="mt-3 text-center">Sudoku Expert</h1>
        <h3 class="mt-3">Play free and unlimited Sudoku!</h3>
        <div class="mt-3 mb-2">
            <a href="http://play.google.com/store/apps/details?id=com.aol.philipphofer" target="_blank">
                    <img class="img-fluid" th:src="@{/img/google-play-badge.png}" style="width: 50%; height: 50%;"
                     alt="get the app">
            </a>
        </div>
        <div class="mb-3">
            <a th:href="@{'hofer.sudoku.expert://?id=' + ${id}}">
                <button class="btn btn-primary">I already have the Sudoku app</button>
            </a>
        </div>
    </div>
</div>
</body>

</html>